body {
    background-color: rgb(121, 124, 129);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:rgb(49, 33, 190);
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(39, 73, 124); 
border-radius: 25%;
}